html {
  margin: 0;
  padding: 0;
  background-color: slategrey;
}

body {
  padding: 0 25px;
  margin-top: 225px;
  font-family: 'Dosis', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

header #identity {
  margin: 15px 0 15px 50px;
  display: flex;
  align-items: center;
}

header #identity img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header #identity .intro {
  margin-left: 30px;
}

header #identity .intro h2 {
  margin: 10px 0;
  font-size: 1.6em;
  color: white;
}

header #identity .intro h4 {
  margin: 5px 0;
  font-size: 1em;
  color: lightgrey;
}

header #social-media {
  margin-right: 50px;
  display: flex;
  font-size: 2em;
  color: rebeccapurple;
}

header #social-media a {
  padding-right: 35px;
  text-decoration: none;
}

header #social-media a:last-of-type {
  padding-right: 0;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

main section {
  display: flex;
  flex-flow: column;
  width: 75%;
  padding: 5%;
  margin-bottom: 50px;
  background-color: gainsboro;
  border-radius: 20px;
  border-style: ridge;
  border-width: 10px;
  box-shadow: 0 10px 20px rgba(50, 50, 50, 0.7);
}

main section h3 {
  margin: 0 0 20px 0;
  color: rebeccapurple;
  font-weight: 500;
  font-size: 3em;
}

main section p {
  margin-bottom: 50px;
  text-align: justify;
  font-weight: 500;
  font-size: 1.5em;
}

main section a {
  padding: 10px 20px;
  background-color: rebeccapurple;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

main section a:hover {
  box-shadow: 0 5px 20px rgba(50, 50, 50, 0.7);
  color: rebeccapurple;
  background-color: white;
}

main #projects .top-projects {
  display: flex;
  margin-bottom: 50px;
}

main #projects .top-projects .project {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: cornsilk;
  padding: 20px 30px;
  margin-right: 20px;
  box-shadow: 5px 5px 15px rgba(50, 50, 50, 0.7);
}

main #projects .top-projects .project:last-of-type {
  margin-right: 0;
}

main #projects .top-projects img {
  width: 350px;
  height: 350px;
}

main #projects .top-projects p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
