#menu_icon.container {
    display: inline-block;
    cursor: pointer;
}

#menu_icon .bar1,
#menu_icon .bar2,
#menu_icon .bar3 {
    width: 25px;
    height: 2px;
    background-color: honeydew;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
#menu_icon.change .bar1 {
    -webkit-transform: translate(0px, 8px) rotate(-45deg);
    transform: translate(0px, 8px) rotate(-45deg);
}

/* Fade out the second bar */
#menu_icon.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
#menu_icon.change .bar3 {
    -webkit-transform: translate(0px, -8px) rotate(45deg);
    transform: translate(0px, -8px) rotate(45deg);
}