* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-rows: 100px 0.5fr 10fr 1fr;
    grid-template-areas:
    "head"
    "nav"
    "main"
    "foot";
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body * {
    flex: 1;
}

header {
    background-color: #2a2a32;
    grid-area: head;
}

nav {
    background-color: #1f1f26;
    grid-area: nav;
}

main {
    background-color: #545864;
    grid-area: main;
}

.main_image img {
    display: block;
    width: 100%;
}

.main_image .intro_content {
    color: white;
    background-color: rgb(42, 42, 50);
    padding: 30px;
    font-family: "Avenir Next", sans-serif;
}

.main_image .intro_content h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.main_image .intro_content p {
    font-size: 0.8em;
    line-height: 185%;
}

footer {
    background-color: #1f1f26;
    grid-area: foot;
}

@media screen and (min-width: 500px) {
    .main_image {
        position: relative;
    }

    .main_image .intro_content {
        position: absolute;
        right: 5%;
        width: 55%;
        border-radius: 30px;
        background-color: rgba(42, 42, 50, 0.70);
    }
}

@media screen and (min-width: 800px) {
    .main_image .intro_content h2 {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .main_image .intro_content p {
        font-size: 1em;
        line-height: 165%;
    }
}
