* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-rows: 2fr 0.5fr 10fr 1fr;
    grid-template-areas:
    "head"
    "nav"
    "main"
    "foot";
}

.grid > *:nth-child(even) {
    background-color: black;
}

.grid > *:nth-child(odd) {
    background-color: darkslategrey;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body * {
    flex: 1;
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: foot;
}

@media screen and (min-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-area: nav;
    }

    nav ul {
        display: flex;
        align-items: stretch;
        list-style: none;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 20px;
        color: honeydew;
        border-left: 1px solid honeydew;
    }

    nav ul li:hover {
        border-color: goldenrod;
        color: goldenrod;
        transition: border-left .25s ease-in-out, color .25s ease-in-out;
    }

    nav ul li a {
        display: flex;
        align-items: center;
        font-size: 0.6em;
        font-family: "Avenir Next", sans-serif;
        color: inherit;
        text-decoration: none;
    }
}
