#menu_icon {
    position: absolute;
    left: 2%;
    flex: 1;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    opacity: 0;
    flex: 10;
    overflow: hidden;
}

nav ul li {
    display: flex;
    align-items: center;
    color: honeydew;
    padding: 5px 20px;
}

nav ul li:active {
    background-color: goldenrod;
    color: #1f1f26;
}

nav ul li a {
    display: flex;
    justify-content: center;
    font-size: 0.6em;
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    #menu_icon {
        display: none !important;
    }

    nav {
        grid-area: nav;
        min-height: inherit !important;
    }

    nav ul {
        display: flex !important;
        pointer-events: auto !important;
        cursor: auto !important;
        flex-direction: row;
        flex: 1;
        opacity: 1 !important;
        max-height: none !important;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li:hover {
        background-color: goldenrod;
        color: #1f1f26;
        transition: background-color .25s ease-in-out, color .25s ease-in-out;
    }

    nav ul li a {
        display: flex;
        align-items: center;
    }
}
